<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>学员签到</title>
  <meta name="description" content="学员签到">
  <meta name="keywords" content="学员签到">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="apple-mobile-web-app-title" content="学员签到" />
  <link href="/static/css/amazeui.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/amazeui.datatables.min.css" />
  <!-- <link rel="stylesheet" href="/static/css/index.css"> -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/dot.min.js"></script>
  <script src="/static/js/amazeui.min.js"></script>
  <script src="/static/js/amazeui.datatables.min.js"></script>
  <script src="/static/js/dataTables.responsive.min.js"></script>
  <script src="/static/js/jq-signature.min.js"></script>
</head>
<body>
<input type="hidden" id="currentStudentId" value="" />
<input type="hidden" id="currentStudentName" value="" />
<div class="am-g" style="margin: 20px 0px;">
  <div class="am-u-sm-6">
    <div name="input">
      <div class="am-input-group">
        <input type="text" class="am-form-field" placeholder="查询请输入完整的姓名 或 手机号 或 身份证号 或 ERP编号 或 班级名称" id="queryWords" value="">
        <span class="am-input-group-btn">
          <button class="am-btn am-btn-default" type="button" id="search">
            <span class="am-icon-search"></span>
          </button>
        </span>
      </div>
    </div>
    <div id="info" class="am-scrollable-vertical" style="margin: 10px 0px;">
      <table class="am-table am-table-bordered am-table-centered am-table-striped am-table-bordered am-table-compact am-text-nowrap" width="100%">
       <thead>
        <tr>
          <th class="table-id">姓名</th>
          <th class="table-date">身份证号</th>
          <th class="table-date">手机号</th>
          <th class="table-date">ERP编号</th>
          <th class="table-date">班级名称</th>
          <th class="table-date">操作</th>
        </tr>
      </thead>
      <tbody id="studentInfos">
      </tbody>
    </table>
    </div>

  </div>
  <div class="am-u-sm-6">
    <div class="am-alert" data-am-alert id="alert">
      <p>请在下方区域签名。</p>
    </div>
    <div>
       <div class="js-signature" data-line-width="2" data-line-color="#000000" data-auto-fit="true"></div>
    </div>
    <div style="margin: 10px;" class="am-cf">
      <button type="button" class="am-btn am-btn-primary am-round btn-loading-example am-fr" disabled="disabled" id="ok" data-am-loading="{spinner: 'circle-o-notch', loadingText: '提交中', resetText: '确定'}">确定</button>
      <button type="button" class="am-btn am-btn-warning am-round am-fr" id="reset" style="margin-right: 10px;">清除</button>
    </div>
  </div>
<div>
<!--模版-->
<script type="text/template" charset="utf-8" id='studentsTmp'>
  {{?it.length}}
    {{~it:student:index}}
      <tr id="{{=student._id}}">
        <td>{{=student.student_name}}</td>
        <td>{{=student.id_number}}</td>
        <td>{{=student.phone_number}}</td>
        <td>{{=student.erp_number}}</td>
        <td>{{=student.class_name}}</td>
        {{?student.hasSiged}}
        <td>
          <button class="am-btn am-btn-primary" type="button" onclick="selectStudent('{{=student._id}}','{{=student.student_name}}')">
            签到
          </button>
        </td>
        {{??}}
        <td>
          <div class="am-alert-success">
            已签到
          </div>
        </td>
        {{?}}
      </tr>
    {{~}}
  {{??}}
      <tr>
       <td colspan="6" class="am-text-middle">
         暂无查询到学员信息
       </td>
      <tr>
  {{?}}
</script>
</body>
<script type="text/javascript">
    var sigdiv = {};
    $(document).ready(function() {
        //初始化签名控件
        var divHeight = Math.ceil($(document).height() * 0.6);
        $("#info").height(divHeight);
        $sigdiv = $('.js-signature').jqSignature({height:divHeight});
        $('.js-signature').eq(0).on('jq.signature.changed', function() {
          if($("#currentStudentId").val() && $("#currentStudentName").val()){
            $('#ok').attr('disabled', false);
          }else{
            alert("请选择需要签名的学生！");
            $('#ok').button('reset');
            $sigdiv.jqSignature('clearCanvas');
            setTimeout(function(){ $('#ok').attr('disabled', "disabled")},100);
          }
        })
        //查询待签名学生
        $("#search").on("click",function(){
          $sigdiv.jqSignature('clearCanvas');
          $("#alert").html("请在下方区域签名。");
          var _this = $(this);
          var queryWords = $("#queryWords").val()
          if(!queryWords){
            alert("请输入查询信息");
            return;
          }
          $.ajax({
            type:'get',
            "url":"/students?page_size=100&page=1&queryWords="+queryWords,
            cache:false,  
            dataType:'json',  
            success:function(data) {
                $('#studentInfos').html(doT.template($('#studentsTmp').html())(data));
                $('#studentInfos table').DataTable({
                  responsive: false,
                  dom: 'ti'
                });
             },  
             error : function(error) {
                  console.error(error);
                  alert("异常！");
             }
          });
        });
        $('#studentInfos table').DataTable({
          responsive: false,
          dom: 'ti'
        });
        //点击提交按钮
        $('#ok').click(function () {
          var $btn = $(this),
              studentId = $("#currentStudentId").val(),
              studentName = $("#currentStudentName").val()
              sigImg = $sigdiv.jqSignature('getDataURL');
          if(!studentId){
            alert("请选择需要签名的学生！");
            $btn.button('reset');
            $sigdiv.jqSignature('clearCanvas');
            setTimeout(function(){ $('#ok').attr('disabled', "disabled")},100);
            return;
          }
          $btn.button('loading');
          $.ajax({
            type:'PUT',
            "url":"/students/",
            cache:false,  
            dataType:'json',
            data:{
              id: studentId,
              signature: sigImg,
            },  
            success:function(result) {
                // console.log(JSON.stringify(result));
                if(result.status == 'done'){
                  alert(studentName+"签名成功。");
                  $("#"+studentId+" td:last").html("<div class=\"am-alert-success\">已签到</div>");
                  $btn.button('reset');
                  setTimeout(function(){ $('#ok').attr('disabled', "disabled")},100);
                  $sigdiv.jqSignature('clearCanvas');
                  $("#alert").html("请在下方区域签名。");
                  $("#currentStudentId").val('');
                  $("#currentStudentName").val('');
                }
             },  
             error : function(error) {
                  console.error(error);
                  alert("异常！");
             }
          });
        });
        //重置签名
        $('#reset').click(function () {
          $sigdiv.jqSignature('clearCanvas');
          $('#ok').attr('disabled', "disabled");
        });
    });

    function selectStudent(studentId,studentName){
      $("#currentStudentId").val(studentId);
      $("#currentStudentName").val(studentName);
      $sigdiv.jqSignature('clearCanvas');
      $('#ok').attr('disabled', "disabled")
      $("#alert").html('<span style="font-size: 25px;font-weight: 600;color: red;" id="selectInfo">'+studentName+' </span>，请在下方区域签名。');
    }

    $(window).resize(function(){
      console.log("你改变了窗口大小！");
      var divHeight = Math.ceil($(document).height() * 0.6);
      console.log(divHeight);
      $("#info").height(divHeight);
      $sigdiv = $('.js-signature').jqSignature({height:divHeight});//初始化签名控件
    });
</script>
</html>